<mat-card class="mt-3">
  <mat-card-header>
    <h1>Simple check in application</h1>
  </mat-card-header>
  <mat-card-content class="check-ins">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <mat-card class="h-80 w-75">
          <mat-card-header>
            <h4>Users</h4>
          </mat-card-header>
          <mat-card-content class="h-100 text-monospace ov-scroll">
            <div *ngFor="let ci of currentCheckIns?.reverse()">
              - {{ci.userId}}<br/>
                {{ci.checkedInAt}}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="h-80 w-75">
          <mat-card-header>
            <h4>Protocol Logs</h4>
          </mat-card-header>
          <mat-card-content class="h-100 text-monospace ov-scroll">
            <div *ngFor="let msg of messages.reverse()">- {{msg}}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <button mat-button (click)="onCheckIn()">Check in</button>
  </mat-card-actions>
</mat-card>
